#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Set background to transparent */
    position: fixed; /* Fixed position to keep it always visible */
    width: 100%;
    padding: 15px;
    z-index: 1000; /* Ensure it's above other elements */
  }

  .logo {
    color: #8b1523;
    font-weight: bold;
    font-size: 30px;
    width: 40px;
    border-radius: 25px;
    padding-left: 40px;
    padding-bottom: 5px;
  }

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    margin-right: 80px;
    color: #8b1523;
  }

  .nav-links li {
    margin-left: 30px;
    font-size: 18px;
  }
  
  /* Style the links */
  .nav-links li a {
    position: relative; /* Position relative for pseudo-element */
    text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .nav-links li a samp{
    color: white;
    background-color: #009ca8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
/* this is a recreation of twitter search in css */
.form {
  --input-text-color: #fff;
  --input-bg-color: #009ca8;
  --focus-input-bg-color: transparent;
  --text-color: white;
  --active-color: #8b1523;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}
/* form style */
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
}
/* a fancy bg for showing background and border when focus. */
.fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 8px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search,.close-btn {
  position: absolute;
}
/* styling search-icon */
.search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}
/* svg -- size */
svg {
  width: 17px;
  display: block;
}
/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 20px;
  height: 10px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color)
}
/* input background change in focus */
.input:focus ~ .fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}
/* search icon color change in focus */
.input:focus ~ .search {
  fill: var(--active-color);
}
/* showing close button when typing */
.input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}
/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
  